.centered-text {
  font-family: Arial, Helvetica, sens-serif;
  text-align: center;
}

.displayed-inline{
  display: inline-block;
  text-align: left;
}

#sentrybot-link {
  font-family: Arial, Helvetica, sens-serif;
}
