.centered-text {
  font-family: Arial, Helvetica, sens-serif;
  text-align: center;
}

.displayed-inline {
  display: inline-block;
  text-align: left;
}

#sentrybot-link {
  font-family: Arial, Helvetica, sens-serif;
}

.videocontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.videocontainer img {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.circle-image {
  border-radius: 90%;
  object-fit: cover;
}


/* .top {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
} */
