body {
  /* overflow: hidden; */
  background: #E6E6FA;
  background: linear-gradient(to right, #b24592, #f15f79)
}

header {
  background-color: rgb(245, 2, 180);
  padding: 2%;
  text-align: center;
}

/* Style the title */
header h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.centered-text {
  font-family: Arial, Helvetica, sens-serif;
  text-align: center;
}

.displayed-inline {
  display: inline-block;
  text-align: left;
}

#sentrybot-link {
  font-family: Arial, Helvetica, sens-serif;
}

.container {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.right-container {
  padding: 3%;
}

.videocontainer {
  display: grid;
  height: 100%;
  place-items: center;
}

.videocontainer img {
  grid-column: 1;
  grid-row: 1;
  width: 70vmin;
  height: 70vmin;
  object-fit: cover;
  text-align: center;
}

.circle-image {
  border-radius: 20%;
  object-fit: cover;
}

.top {
  display: none;
}

@keyframes heartfade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.heart {
  z-index: 999;
  animation: heartfade 10s linear;
  position: absolute;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #fc2a62;
  position: absolute;
  height: 30px;
  width: 45px;
  border-radius: 15px 0px 0px 15px;
}

.heart:before {
  transform: rotate(45deg);
}

.heart:after {
  left: 10.5px;
  transform: rotate(135deg);
}

/* .top {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
} */
.menu-toggler {
  grid-column: 1;
  grid-row: 1;
  width: 30%;
  height: 40%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.menu-toggler:hover+label,
.menu-toggler:hover+label:before,
.menu-toggler:hover+label:after,
{
background: transparent;
}

.menu-toggler:checked+label {
  background: transparent;
}

.menu-toggler:checked+label:before,
.menu-toggler:checked+label:after,
{
top: 0;
width: 40px;
transform-origin: 50% 50%;
}

.menu-toggler:checked+label:before,
.menu-toggler:checked+label:after,
{
top: 0;
width: 40vmin;
transform-origin: 50% 50%;
}

.menu-toggler:checked~ul .menu-item {
  opacity: 1;
}

.menu-toggler:checked~ul .menu-item:nth-child(1) {
  transform: rotate(45deg) translate(-45vmin);
}

.menu-toggler:checked~ul .menu-item:nth-child(2) {
  transform: rotate(315deg) translateX(-45vmin);
}

.menu-toggler:checked~ul .menu-item:nth-child(3) {
  transform: rotate(135deg) translateX(-45vmin);
}

.menu-toggler:checked~ul .menu-item:nth-child(4) {
  transform: rotate(225deg) translateX(-45vmin);
}

.menu-toggler:checked~ul .menu-item button {
  pointer-events: auto;
}

.menu-toggler+label {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: transparent;
  transition: transform 0.5s top 0.5s;
  margin: auto;
  opacity: 0.5;
}

.menu-toggler+label:before {
  grid-column: 1;
  grid-row: 1;
  top: 10px;
}

.menu-toggler+label:after {
  top: -10px;
}

.menu-item:nth-child(1) button {
  transform: rotate(0deg);
}

.menu-item:nth-child(2) button {
  transform: rotate(0deg);
}

.menu-container {
  display: contents;
  /* Additional styles for the menu container */
}

.menu-item {
  grid-column: 1;
  grid-row: 1;
  width: 15vmin;
  height: 15vmin;
  transition: 0.75s;
  opacity: 0;
  z-index: 1;
  list-style: none;
}

.menu-item button {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(230, 230, 250, 0.7);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 10vmin;
  pointer-events: none;
  transition: 0.2s;
  z-index: 1;
}

.menu-item button.drive {
  transform: rotate(135deg);
}

.menu-item button.shoot {
  transform: rotate(120deg);
}

.menu-item button.hide {
  transform: rotate(85deg);
}

.menu-item button.show {
  transform: rotate(225deg);
}

.menu-item button:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.44px
}
