{% extends "base.html" %}
{% block head %}
<style>
  .dot {
    width: 2px;
    height: 2px;
    background-color: black;
    position: absolute;
  }
</style>
<script type="module" src="static/js/face_detection.js"></script>
{% endblock %}
{% block content %}
<p>Testing, testing</p>
<img src="{{ url_for('face_detected_video') }}" alt="webcam feed">
<div class='etch-a-sketch' style="width:500px;height:100px;border:2px solid #000;"></div>
<form>
  <label for="xpos">X Position:</label>
  <input type="text" id="xpos" readonly><br>
  <label for="ypos">Y Position:</label>
  <input type="text" id="ypos" readonly><br>
</form>
{% endblock %}
