<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="static/css/sentrybot.css">
</head>
<body>
<a href="/" id="sentrybot-link">sentrybot</a><hr>
<div class="centered-text">
  <ul class="displayed-inline">
    <li><a href="/laptop_processing.html">Laptop-based object recognition</a></li>
    <li><a href="/pi_processing.html">Pi-based object recognition</a></li>
    <li><a href="/mask_processing.html">Mask-based object recognition</a></li>
  </ul>
</div>
</body>
</html>
