<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
        <link rel="stylesheet" href="static/css/sentrybot.css">
        <script type="module" src="static/js/offload_detection.js"></script>
    </head>
    <body>
        <p>Offload processing to laptop.</p>
        <!--<img src="latest-image.jpg" width="640" height="480" alt="webcam feed"/>-->
        <img id="latest-image-id" width="640" height="480" alt="webcam feed" />
        <div class='etch-a-sketch' style="width:640px;height:360px;border:2px solid #000;"></div>
    </body>
</html>
