<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MJPEG Stream</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="stylesheet" href="static/css/sentrybot.css">
    <script type="module" src="static/js/face_detection.js"></script>
    <script type="text/javascript" src="static/js/handle_coords.js"></script>
</head>

<body class="piprocessing">
    <header>
        <h1>&#x2665; Mechanical Cupid &#x2665;</h1>
    </header>
    <div class="container">
        <!-- <div class="form-container">
            <form>
                <label for="xpos">X Position:</label>
                <input type="text" id="xpos"><br>
                <label for="ypos">Y Position:</label>
                <input type="text" id="ypos"><br>
                <input type="button" value="Move" onclick="testFunc()">
                <input type="button" value="FIRE!!!!!" onclick="fire()" class="firebutton">
            </form>
        </div> -->
        <div class="right-container">
            <div class="videocontainer">
                <img src="stream.mjpg" alt="webcam feed" class="circle-image">
                <img class="top" src="static/images/crosshair_3.png">
                <input class="menu-toggler" type="checkbox">
                <label for="menu-toggler"></label>
                <ul class="menu-container">
                    <li class="menu-item">
                        <button class="shoot" onclick="fire_hearts(); fire();">&#128165;</button>
                    </li>
                    <li class="menu-item">
                        <button class="hide" onclick="hideDiv();">&#x1F3AF;</button>
                    </li>
                    <li class="menu-item">
                        <button class="mode" onclick="toggle_mode()">&#128663;</button>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</body>
<script>
    let parent = document.querySelector(".videocontainer");
    var brd = document.createElement("DIV");
    parent.appendChild(brd)
    // document.body.insertBefore(brd, document.getElementById("board"));
    const duration = 3000;
    const speed = 0.05; // speed for movement in y-direction; 0.05

    var hearts = [];

    function generateHeart(xStart, scale) {
        var videoContainer = document.querySelector('.videocontainer');
        var containerRect = videoContainer.getBoundingClientRect();
        var containerWidth = containerRect.width;
        var containerHeight = containerRect.height;
        var containerX = containerRect.left;
        var containerY = containerRect.top;
        var xStartPos = Math.random() * containerWidth;
        var yStartPos = (Math.random() * 0.3 + 0.7) * containerHeight;


        var heart = document.createElement("DIV");
        heart.setAttribute('class', 'heart');
        brd.appendChild(heart);
        heart.time = duration;
        heart.x = xStartPos + containerX;
        heart.y = yStartPos + containerY;
        heart.bound = containerWidth + "px";
        heart.direction = xStart;
        heart.style.left = heart.x + "px";
        heart.style.top = heart.y + "px";
        heart.scale = scale;
        heart.style.transform = "scale(" + scale + "," + scale + ")";
        if (hearts == null)
            hearts = [];
        hearts.push(heart);
        return heart;
    }

    function callFunctionMultipleTimes(numCalls) {
        for (var i = 0; i < numCalls; i++) {
            var heartScale = Math.random() * 1.5;
            var randomSign = Math.random() < 0.5 ? -1 : 1;
            generateHeart(randomSign, heartScale);
        }
    }

    var before = Date.now();
    var id;
    function fire_hearts() {
        // Call the frame function to start the animation
        callFunctionMultipleTimes(30);
        // var id = setInterval(frame, 10);
        clearInterval(id);
        frame();


    }


    function frame() {
        var current = Date.now();
        var deltaTime = current - before;
        before = current;
        id = setInterval(frame, 3);
        for (i in hearts) {
            var heart = hearts[i];
            heart.time -= deltaTime;

            if (heart.time > 0) {

                // Add random movement
                var randomX = Math.floor(Math.random() * 20) - 10;
                var randomY = Math.floor(Math.random() * 20) - 10;

                // Adjust the multiplier for x-direction movement
                var xMovementMultiplier = 0.5; // Modify this value to control the swinging motion
                //
                heart.y -= speed;
                heart.style.top = heart.y + "px";
                heart.style.left = heart.x + heart.direction * heart.bound * Math.sin(heart.y * heart.scale / 30) / heart.y * 200 + "px";

                // Add swinging motion
                var rotationAngle = Math.sin(heart.y * heart.scale / 100) * 20; // *20 Adjust this value to control the swinging amplitude
                heart.style.transform = "scale(" + heart.scale + "," + heart.scale + ") rotate(" + rotationAngle + "deg)";
            }
            else {
                heart.parentNode.removeChild(heart);
                hearts.splice(i, 1);
            }
        }

    }

</script>

</html>
